.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    grid-area: cabecalho;
}
 
.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

footer {
    text-align: center;
    color: #ffffff;
    background: url(../img/bg.jpg);
    padding: 40x 0;
    font-size: 1rem;
    margin: 20px 20px ;
}

.p-footer {
    text-align: center;
}

